asterisco{
	color:red;
}
body{
	text-indent: justify;
	line-height: 25px;
}

#form-post
{
	float:left;
    margin:auto auto;
    width:320px;
    height:270px;
}
#form-post #formulario
{
    position:absolute;
    display:block;   
}

#form-get
{
	
    margin: auto auto;
    width:320px;
    height:270px;
}
#form-get #formulario
{
    position:absolute;
    display:block;   
}

fieldset
{
    width:300px;
    height:280px;
}

input{
	position: absolute;
	left: 50%;
}
